.flex-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    align-items: left; /* Add this line */
    background-color: goldenrod;
}

.nav-bar-font {
    font-size: 25px !important;
    color: white;
    text-align: left;
}

.nav-bar-brand {
    font-size: 35px !important;
    color: white;
    text-align: left;
}